<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->

    <div class="sideMenu d-flex flex-column justify-content-between">
      <div>
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
          alt="logo">
        <ul class="nav flex-column mt-4 fw-bold text-gray-900">
          <li class="nav-item d-flex align-items-center ">
            <span class="material-symbols-outlined">
              insert_chart
            </span>
            <a class="nav-link text-dark active" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <span class="material-symbols-outlined">
              forum
            </span>
            <a class="nav-link text-dark active" aria-current="page" href="#">Question</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <span class="material-symbols-outlined">
              assignment
            </span>
            <a class="nav-link text-dark active" aria-current="page" href="#">Assignment</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <span class="material-symbols-outlined">
              video_library
            </span>
            <a class="nav-link text-dark" href="#">Course</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <span class="material-symbols-outlined">
              group
            </span>
            <a class="nav-link text-dark font-weight-bold" href="#">Admin</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <span class="material-symbols-outlined">
              settings
            </span>
            <a class="nav-link text-dark font-weight-bold" href="#" tabindex="-1" aria-disabled="true">Settings</a>
          </li>
        </ul>
      </div>
      <div class="userInfo d-flex align-items-center">
        <img class="avatar me-3"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
          alt="andyavatar">
        <div class="username">
          <p class="mb-0 fw-bold">Andy Chen</p>
          <small class="mb-0 text-gray-600">andy0401@mail.com</small>
        </div>
      </div>
    </div>