.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.font-lato {
    font-family: 'Lato'!important;
}
.font-noto-sans-TC {
    font-family: 'Noto Sans TC'!important;
}
.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
    font-family: roboto;
}

body {
    font-family: 'Lato';
}