.main{
  margin-left: 296px;
  min-height: 100vh;
  padding: 32px;
}
tbody th{
  font-weight: normal;
}
.table-height{
  height:calc(100vh - 118px);
}
.mb-32{
  margin-bottom: 32px;
}

// a{
//   color:$success;
// }

// a:hover{
//   color:$white;
// }
// .pagination .page-link span:hover{
//   color:$white;
// }

// .arrow:hover {
//   color:$white;
// }
.pagination .text-success{
  &:hover{
    color:$white !important;
  }
}
.hover-success{
  color: $success !important;
  &:hover{
    color:$white !important;
  }
}